<div class="container clearfix">

    <!-- Posts
    ============================================= -->
    <div id="posts" class="post-grid grid-container post-masonry post-masonry-full grid-3 clearfix">

        {{>blog-article-img}}

        {{>blog-article-video}}

        {{>blog-article-slider}}

        {{>blog-article-quote}}

        {{>blog-article-masonry}}

        {{>blog-article-ad}}

        {{>blog-article-boxed}}

        {{>blog-article-audio}}

    </div><!-- #posts end -->

</div>
