<div class="container clearfix">

    {{>blog-header}}

    <!-- Posts
    ============================================= -->
    <div id="posts">

        {{>blog-article-img}}

        {{>blog-article-video}}

        {{>blog-article-slider}}

        {{>blog-article-quote}}

        {{>blog-article-masonry}}

        {{>blog-article-ad}}

        {{>blog-article-boxed}}

        {{>blog-article-audio}}

    </div><!-- #posts end -->

    <!-- Pagination
    ============================================= -->
    {{>blog-pagination}}
    <!-- .pager end -->

</div>
