<div class="container clearfix">

    {{>blog-header}}

    <!-- Posts
    ============================================= -->
    <div id="posts" class="small-thumbs">

        {{>blog-article-img-left}}

        {{>blog-article-video-left}}

        {{>blog-article-slider-left}}

        {{>blog-article-quote}}

        {{>blog-article-masonry-left}}

        {{>blog-article-ad}}

        {{>blog-article-boxed}}

        {{>blog-article-audio-left}}

    </div><!-- #posts end -->

    <!-- Pagination
    ============================================= -->
    {{>blog-pagination}}
    <!-- .pager end -->

</div>
