<ul class="clients-grid grid-6 notopmargin nobottommargin clearfix">
    <li><a href="#"><img src="images/clients/logo/1.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/2.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/3.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/4.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/5.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/6.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/7.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/8.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/9.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/10.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/11.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/12.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/13.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/14.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/15.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/16.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/19.png" alt="Clients"></a></li>
    <li><a href="#"><img src="images/clients/logo/18.png" alt="Clients"></a></li>
</ul>
