<div class="row common-height">
    <div class="col-lg-3 col-md-6 center col-padding" style="background-color: #E2E2E2;">
        <div>
            <i class="i-plain i-xlarge divcenter bottommargin-sm icon-et-pictures"></i>
            <div class="counter"><span data-from="10" data-to="165" data-refresh-interval="50" data-speed="2000"></span>+</div>
            <h5>Portfolio Layouts</h5>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 center col-padding" style="background-color: #E9E9E9;">
        <div>
            <i class="i-plain i-xlarge divcenter bottommargin-sm icon-et-pencil"></i>
            <div class="counter"><span data-from="10" data-to="45" data-refresh-interval="50" data-speed="2500"></span>+</div>
            <h5>Blog Templates</h5>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 center col-padding" style="background-color: #EEE;">
        <div>
            <i class="i-plain i-xlarge divcenter bottommargin-sm icon-et-puzzle"></i>
            <div class="counter"><span data-from="10" data-to="50" data-refresh-interval="25" data-speed="3000"></span>+</div>
            <h5>Shortcodes</h5>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 center col-padding" style="background-color: #F2F2F2;">
        <div>
            <i class="i-plain i-xlarge divcenter bottommargin-sm icon-et-document"></i>
            <div class="counter"><span data-from="10" data-to="100" data-refresh-interval="30" data-speed="2700"></span>+</div>
            <h5>PSD Files</h5>
        </div>
    </div>
</div>

