<div id="section-purchase" class="section nomargin center dark page-section" style="padding: 150px 0; background: url('images/intro/bg1.jpg') no-repeat center center; background-size: cover;">
    <div class="container clearfix">
        <div class="emphasis-title bottommargin-lg">
            <h2 class="ls1 font-secondary t700" style="font-style: italic; font-size: 56px; line-height: 1.7;">Start Creating Beautiful Websites<br>Purchase <span style="border-bottom: 3px solid #EEE; color: #FFF;">Canvas</span> for $17 only!</h2>
        </div>
        <a href="http://themeforest.net/item/canvas-the-multipurpose-html5-template/9228123?ref=SemiColonWeb&license=regular&open_purchase_for_item_id=9228123&purchasable=source" class="button button-circle button-xlarge button-reveal tright ls0 nomargin" style="padding-left: 60px;padding-right: 60px;"><span>Purchase License</span><i class="icon-line-arrow-right"></i></a>
    </div>
</div>
