<div class="section dark notopmargin nobottommargin noborder" style="height: 500px; padding: 145px 0;">

    <div class="container clearfix">

        <div class="slider-caption slider-caption-center" style="position: relative;">
            <div data-animate="fadeInUp">
                <h2 style="font-size: 42px;">Beautiful HTML5 Videos</h2>
                <p class="d-none d-sm-block">Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
                <a href="#" class="button button-border button-rounded button-white button-light button-large noleftmargin nobottommargin d-none d-md-inline-block" style="margin-top: 20px;">Show More</a>
            </div>
        </div>

    </div>

    <div class="video-wrap">
        <video poster="images/videos/explore.jpg" preload="none" loop autoplay muted>
            <source src='images/videos/explore.mp4' type='video/mp4' />
            <source src='images/videos/explore.webm' type='video/webm' />
        </video>
        <div class="video-overlay" style="background-color: rgba(0,0,0,0.3);"></div>
    </div>

</div>
