<footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container center clearfix">

            Copyrights &copy; 2016 All Rights Reserved by SemiColonWeb<br>
            <div class="copyright-links"><a href="http://themeforest.net/user/semicolonweb/portfolio?ref=SemiColonWeb" target="_blank">Portfolio</a> / <a href="http://support.semicolonweb.com" target="_blank">Support</a></div>

        </div>

    </div><!-- #copyrights end -->

</footer>
