<div class="section clearfix">
    <div class="heading-block center nobottomborder nobottommargin">
        <h2 class="t500 nott" style="font-size: 36px;">Loved by <span>32000+</span> Happy Customers</h2>
        <span>Powered by Top-Notch Support <span class="font-secondary">&amp;</span> Stellar <a href="#" data-scrollto="#section-testimonials" data-easing="easeInOutExpo" data-speed="1250">Customer Reviews <i class="icon-angle-right" style="position: relative; top: 2px; margin-left: 2px;"></i></a></span>
    </div>
</div>
