<div class="section nobg nomargin center clearfix" style="padding: 150px 0;">
    <div class="container clearfix">

        <div class="emphasis-title bottommargin">
            <h1>Create Powerful Websites <span class="font-secondary ls1"><em>Beautifully</em></span></h1>
        </div>

        <p class="lead center divcenter bottommargin-lg" style="max-width: 900px; font-size: 24px;"><span class="t500">The <span class="color">No.1</span> Selling Site Template of all Time!</span><br>Truly Multi-Purpose <span class="font-secondary">&amp;</span> Powerful Bootstrap based Template with <span class="color t500">800+</span> Niche, Multi-Page <span class="font-secondary">&amp;</span> One-Page Layouts with <span class="color t500">1000+</span> UI Features.</p>

        <a href="#" class="button button-3d" data-scrollto="#section-niche" data-easing="easeInOutExpo" data-speed="1250">Niche Demos</a>

        <span class="d-none d-md-inline-block rightmargin-sm"></span>

        <a href="#" class="button button-3d button-black" data-scrollto="#section-multipage" data-easing="easeInOutExpo" data-speed="1250">Multi-Page Demos</a>

        <span class="d-none d-md-inline-block rightmargin-sm"></span>

        <a href="#" class="button button-3d button-white button-light" data-scrollto="#section-onepage" data-easing="easeInOutExpo" data-speed="1250">One-Page Demos</a>

        {{>video-560x315}}

    </div>
</div>