<div class="section header-stick">
    <div class="container clearfix">
        <div class="row">

            <div class="col-lg-9">
                <div class="heading-block bottommargin-sm">
                    <h3>We specialize in Robust Software Solutions</h3>
                </div>

                <p class="nobottommargin">Lasting change, stakeholders development Angelina Jolie world problem solving progressive. Courageous; social entrepreneurship change; accelerate resolve pursue these aspirations asylum.</p>
            </div>

            <div class="col-lg-3">
                <a href="#" class="button button-3d button-dark button-large btn-block center" style="margin-top: 30px;">Check our Services</a>
            </div>

        </div>
    </div>
</div>
