<div class="tabs bottommargin-lg clearfix" id="tab-news">

    <ul class="tab-nav clearfix">
        <li><a href="#tabs-news-1"><i class="icon-facetime-video"></i><span class="d-none d-md-block"> Video News</span></a></li>
        <li><a href="#tabs-news-2"><i class="icon-film"></i><span class="d-none d-md-block"> Movie Reviews</span></a></li>
        <li><a href="#tabs-news-3"><i class="icon-music2"></i><span class="d-none d-md-block"> Music</span></a></li>
        <li><a href="#tabs-news-4"><i class="icon-bar-chart"></i><span class="d-none d-md-block"> Opinion Polls</span></a></li>
    </ul>

    <div class="tab-container">

        <div class="tab-content clearfix" id="tabs-news-1">

            <div class="col_three_fifth nobottommargin">
                <div class="ipost clearfix">
                    <div class="entry-image">
                        <iframe src="//player.vimeo.com/video/97243508" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="entry-title">
                        <h3><a href="blog-single.html">Foreign advisors killed in Kabul blast</a></h3>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> 10th Feb 2014</li>
                        <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
                        <li><i class="icon-eye-open"></i> 6422 Views</li>
                    </ul>
                    <div class="entry-content">
                        <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus. Dolores pariatur rem assumenda labore eligendi explicabo dolor.</p>
                    </div>
                </div>
            </div>

            <div class="col_two_fifth col_last nobottommargin">

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">UK government weighs Tesla's Model S for its ??5 million electric vehicle fleet</a></h4>
                        </div>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">MIT's new robot glove can give you extra fingers</a></h4>
                        </div>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Black boxes handed to Malaysia</a></h4>
                        </div>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">MH17 forensic team face challenge</a></h4>
                        </div>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Spain lifts file-sharing site blocks</a></h4>
                        </div>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Body of fugitive South Korea ferry businessman found, police say</a></h4>
                        </div>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Yen dips on modest reduction in risk aversion, markets still wary</a></h4>
                        </div>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">China's Xiaomi announces latest flagship Mi 4 smartphone</a></h4>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="tab-content clearfix" id="tabs-news-2">

            <div class="col_three_fifth nobottommargin">
                <div class="ipost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/magazine/17.jpg" alt="Image"></a>
                    </div>
                    <div class="entry-title">
                        <h3><a href="blog-single.html">Review: Dallas Buyers Club</a></h3>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> 10th Feb 2014</li>
                        <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
                        <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>
                        <li><i class="icon-heart3 text-danger"></i> 95%</li>
                    </ul>
                    <div class="entry-content">
                        <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Cupiditate quia nesciunt repellat animi amet magnam officiis!</p>
                    </div>
                </div>
            </div>

            <div class="col_two_fifth col_last nobottommargin">

                <div class="spost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/magazine/small/movie/2.jpg" alt="Image"></a>
                    </div>
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Dawn Of The Planet Of The Apes</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>
                            <li><i class="icon-heart3 text-danger"></i> 92%</li>
                        </ul>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/magazine/small/movie/3.jpg" alt="Image"></a>
                    </div>
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">The Purge: Anarchy</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                            <li><i class="icon-heart3 text-warning"></i> 54%</li>
                        </ul>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/magazine/small/movie/4.jpg" alt="Image"></a>
                    </div>
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Planes: Fire And Rescue</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                            <li><i class="icon-heart3 text-warning"></i> 45%</li>
                        </ul>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/magazine/small/movie/5.jpg" alt="Image"></a>
                    </div>
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Sex Tape</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li class="color"><i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                            <li><i class="icon-heart3 text-default"></i> 20%</li>
                        </ul>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/magazine/small/movie/6.jpg" alt="Image"></a>
                    </div>
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Transformers: Age of Extinction</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li class="color"><i class="icon-star3"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                            <li><i class="icon-heart3 text-default"></i> 17%</li>
                        </ul>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/magazine/small/movie/7.jpg" alt="Image"></a>
                    </div>
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">How to Train Your Dragon 2</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li>
                            <li><i class="icon-heart3 text-danger"></i> 90%</li>
                        </ul>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/magazine/small/movie/8.jpg" alt="Image"></a>
                    </div>
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Earth to Echo</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                            <li><i class="icon-heart3 text-warning"></i> 48%</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="tab-content clearfix" id="tabs-news-3">

            <div class="col_three_fifth nobottommargin">
                <div class="ipost clearfix">
                    <div class="entry-image">
                        <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/139433038&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                    </div>
                    <div class="entry-title">
                        <h3><a href="blog-single.html">Afrojack vs Thirty Seconds To Mars - Do Or Die (Club Remix)</a></h3>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> 10th Feb 2014</li>
                        <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
                        <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li>
                        <li><i class="icon-heart3 text-danger"></i> 85%</li>
                    </ul>
                    <div class="entry-content">
                        <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Cupiditate quia nesciunt repellat animi amet magnam officiis!</p>
                    </div>
                </div>
            </div>

            <div class="col_two_fifth col_last nobottommargin">

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Thomas Jack Presents: Tropical House Vol.5</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-heart3 text-danger"></i> 92%</li>
                            <li>Thomas Jack</li>
                        </ul>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Major Lazer's Walshy Fire Presents: Jesse Royal - Royally Speaking</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-heart3 text-warning"></i> 54%</li>
                            <li>Major Lazer</li>
                        </ul>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">The Weeknd - King Of The Fall</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-heart3 text-success"></i> 78%</li>
                            <li>The Weeknd-XO</li>
                        </ul>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">No Flex Zone Remix Feat. Nicki Minaj</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-heart3 text-warning"></i> 45%</li>
                            <li>Nicki Minaj</li>
                        </ul>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Mike Mago &amp; Dragonette - Outlines</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-heart3 text-primary"></i> 65%</li>
                            <li>Mike Mago</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="tab-content clearfix" id="tabs-news-4">

            <div class="col_three_fifth nobottommargin">
                <div class="ipost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/magazine/18.jpg" alt="Image"></a>
                    </div>
                    <div class="entry-title">
                        <h3><a href="blog-single.html">America Should Stay Out of Foreign Troubles?</a></h3>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> 5th July, 2014</li>
                        <li><i class="icon-thumbs-up text-success"></i> 69.3%</li>
                        <li><i class="icon-thumbs-down text-danger"></i> 31.7%</li>
                    </ul>
                </div>
            </div>

            <div class="col_two_fifth col_last nobottommargin">

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Who do you think is responsible for shooting down Malaysia Airlines flight MH17?</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><span class="text-success">Ukraine:</span> 77%</li>
                            <li><span class="text-danger">Rebels:</span> 23%</li>
                        </ul>
                    </div>
                </div>
                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Maradona says Messi didn't deserve Golden Ball?</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-thumbs-up text-success"></i> 54%</li>
                            <li><i class="icon-thumbs-down text-danger"></i> 46%</li>
                        </ul>
                    </div>
                </div>
                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Palestinian president says Israel is carrying out a genocide in Gaza?</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-thumbs-up text-success"></i> 80%</li>
                            <li><i class="icon-thumbs-down text-danger"></i> 20%</li>
                        </ul>
                    </div>
                </div>
                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Can Brazil progress in the World Cup without Neymar?</a></h4>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-thumbs-up text-success"></i> 55%</li>
                            <li><i class="icon-thumbs-down text-danger"></i> 45%</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
