<div class="col_one_third nobottommargin">

    <div class="fancy-title title-border">
        <h4>Recently Movies</h4>
    </div>

    <div>


        <div class="spost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/small/movie/3.jpg" alt="Image"></a>
            </div>
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">The Purge: Anarchy</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                    <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                    <li><i class="icon-heart3 text-warning"></i> 54%</li>
                </ul>
            </div>
        </div>

        <div class="spost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/small/movie/4.jpg" alt="Image"></a>
            </div>
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Planes: Fire And Rescue</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                    <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                    <li><i class="icon-heart3 text-warning"></i> 45%</li>
                </ul>
            </div>
        </div>

        <div class="spost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/small/movie/5.jpg" alt="Image"></a>
            </div>
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Sex Tape</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                    <li class="color"><i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                    <li><i class="icon-heart3 text-default"></i> 20%</li>
                </ul>
            </div>
        </div>

        <div class="spost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/small/movie/6.jpg" alt="Image"></a>
            </div>
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Transformers: Age of Extinction</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                    <li class="color"><i class="icon-star3"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                    <li><i class="icon-heart3 text-default"></i> 17%</li>
                </ul>
            </div>
        </div>

        <div class="spost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/small/movie/7.jpg" alt="Image"></a>
            </div>
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">How to Train Your Dragon 2</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                    <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li>
                    <li><i class="icon-heart3 text-danger"></i> 90%</li>
                </ul>
            </div>
        </div>

    </div>

</div>

<div class="col_one_third nobottommargin">

    <div class="fancy-title title-border">
        <h4>Musics Review</h4>
    </div>

    <div>
        <div class="spost clearfix">
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Thomas Jack Presents: Tropical House Vol.5</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                    <li><i class="icon-heart3 text-danger"></i> 92%</li>
                    <li>Thomas Jack</li>
                </ul>
            </div>
        </div>

        <div class="spost clearfix">
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Major Lazer's Walshy Fire Presents: Jesse Royal - Royally Speaking</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                    <li><i class="icon-heart3 text-warning"></i> 54%</li>
                    <li>Major Lazer</li>
                </ul>
            </div>
        </div>

        <div class="spost clearfix">
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">The Weeknd - King Of The Fall</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                    <li><i class="icon-heart3 text-success"></i> 78%</li>
                    <li>The Weeknd-XO</li>
                </ul>
            </div>
        </div>

        <div class="spost clearfix">
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">No Flex Zone Remix Feat. Nicki Minaj</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                    <li><i class="icon-heart3 text-warning"></i> 45%</li>
                    <li>Nicki Minaj</li>
                </ul>
            </div>
        </div>

        <div class="spost clearfix">
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Mike Mago &amp; Dragonette - Outlines</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                    <li><i class="icon-heart3 text-primary"></i> 65%</li>
                    <li>Mike Mago</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="col_one_third nobottommargin col_last">

    <div class="fancy-title title-border">
        <h4>Opinion Polls</h4>
    </div>

    <div>
        <div class="spost clearfix">
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Who do you think is responsible for shooting down Malaysia Airlines flight MH17?</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                    <li><span class="text-success">Ukraine:</span> 77%</li>
                    <li><span class="text-danger">Rebels:</span> 23%</li>
                </ul>
            </div>
        </div>
        <div class="spost clearfix">
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Maradona says Messi didn't deserve Golden Ball?</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                    <li><i class="icon-thumbs-up text-success"></i> 54%</li>
                    <li><i class="icon-thumbs-down text-danger"></i> 46%</li>
                </ul>
            </div>
        </div>
        <div class="spost clearfix">
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Palestinian president says Israel is carrying out a genocide in Gaza?</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                    <li><i class="icon-thumbs-up text-success"></i> 80%</li>
                    <li><i class="icon-thumbs-down text-danger"></i> 20%</li>
                </ul>
            </div>
        </div>
        <div class="spost clearfix">
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Can Brazil progress in the World Cup without Neymar?</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                    <li><i class="icon-thumbs-up text-success"></i> 55%</li>
                    <li><i class="icon-thumbs-down text-danger"></i> 45%</li>
                </ul>
            </div>
        </div>
    </div>

</div>