<div class="fancy-title title-border topmargin">
    <h3>Other News</h3>
</div>

<div id="oc-images" class="owl-carousel image-carousel carousel-widget" data-margin="30" data-nav="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-xl="4">

    <div class="oc-item">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/1.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h4><a href="blog-single.html">A Baseball Team Blew Up A Bunch Of Justin Bieber And Miley Cyrus Merch</a></h4>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 13th Jun 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 53</a></li>
            </ul>
        </div>
    </div>
    <div class="oc-item">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/2.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h4><a href="blog-single.html">UK government weighs Tesla's Model S for its ??5 million electric vehicle fleet</a></h4>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 24th Feb 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 17</a></li>
            </ul>
        </div>
    </div>
    <div class="oc-item">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/3.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h4><a href="blog-single.html">MIT's new robot glove can give you extra fingers</a></h4>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 30th Dec 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
            </ul>
        </div>
    </div>
    <div class="oc-item">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/4.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h4><a href="blog-single.html">Yen dips on modest reduction in risk aversion, markets still wary</a></h4>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 15th Jan 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 54</a></li>
            </ul>
        </div>
    </div>
    <div class="oc-item">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/5.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h4><a href="blog-single.html">Beyonce Dropped A '50 Shades Of Grey', Teaser On Instagram Last Night</a></h4>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 27th Jul 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 61</a></li>
            </ul>
        </div>
    </div>
    <div class="oc-item">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/6.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h4><a href="blog-single.html">Want To Know The New 'Star Wars' Plot? Then This Is The Post For You</a></h4>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 10th Feb 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 34</a></li>
            </ul>
        </div>
    </div>
    <div class="oc-item">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/7.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h4><a href="blog-single.html">Toyotas next minivan will let you shout at your kids without turning around</a></h4>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 21st Oct 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 11</a></li>
            </ul>
        </div>
    </div>
    <div class="oc-item">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/8.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h4><a href="blog-single.html">You can now listen to headphones through your hoodie</a></h4>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 20th Nov 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 07</a></li>
            </ul>
        </div>
    </div>

</div>