<div class="col_full bottommargin-lg clearfix">

    <div class="fancy-title title-border">
        <h3>Entertainment</h3>
    </div>

    <div class="ipost clearfix bottommargin-sm">
        <div class="col_half nobottommargin">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/8.jpg" alt="Image"></a>
            </div>
        </div>
        <div class="col_half nobottommargin col_last">
            <div class="entry-title">
                <h3><a href="blog-single.html">Beyonce Dropped A '50 Shades Of Grey', Teaser On Instagram Last Night</a></h3>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 7th Jun 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 23</a></li>
                <li><a href="#"><i class="icon-camera-retro"></i></a></li>
            </ul>
            <div class="entry-content">
                <p>Neque nesciunt molestias soluta esse debitis. Magni impedit quae consectetur consequuntur adipisci veritatis modi a, officia cum. Eaque iusto quod assumenda beatae, nesciunt aliquid. Vel, eos eligendi?</p>
            </div>
        </div>
    </div>

    <div class="clear"></div>

    <div class="col_half nobottommargin">

        <div class="spost clearfix">
            <div class="entry-image">
                <a href="#"><img src="images/magazine/small/5.jpg" alt=""></a>
            </div>
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">A Baseball Team Blew Up A Bunch Of Justin Bieber And Miley Cyrus Merch</a></h4>
                </div>
                <ul class="entry-meta">
                    <li><i class="icon-calendar3"></i> 5th Nov 2014</li>
                    <li><a href="#"><i class="icon-comments"></i> 3</a></li>
                </ul>
            </div>
        </div>

        <div class="spost clearfix">
            <div class="entry-image">
                <a href="#"><img src="images/magazine/small/6.jpg" alt=""></a>
            </div>
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Want To Know The New 'Star Wars' Plot? Then This Is The Post For You</a></h4>
                </div>
                <ul class="entry-meta">
                    <li><i class="icon-calendar3"></i> 29th Jul 2014</li>
                    <li><a href="#"><i class="icon-comments"></i> 22</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="col_half nobottommargin col_last">

        <div class="spost clearfix">
            <div class="entry-image">
                <a href="#"><img src="images/magazine/small/7.jpg" alt=""></a>
            </div>
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Actress Skye McCole Bartusiak From 'The Patriot' Found Dead At 21</a></h4>
                </div>
                <ul class="entry-meta">
                    <li><i class="icon-calendar3"></i> 12th Oct 2014</li>
                    <li><a href="#"><i class="icon-comments"></i> 47</a></li>
                </ul>
            </div>
        </div>

        <div class="spost clearfix">
            <div class="entry-image">
                <a href="#"><img src="images/magazine/small/9.jpg" alt=""></a>
            </div>
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Internet Slang Has Been Proof Of Satanic Worship All Along???LOL!</a></h4>
                </div>
                <ul class="entry-meta">
                    <li><i class="icon-calendar3"></i> 25th Mar 2014</li>
                    <li><a href="#"><i class="icon-comments"></i> 56</a></li>
                </ul>
            </div>
        </div>

    </div>

</div>