<div class="col_full bottommargin-lg clearfix">

    <div class="fancy-title title-border">
        <h3>Other News</h3>
    </div>

    <div class="col_one_fourth">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/11.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h3><a href="blog-single.html">Toyotas next minivan will let you shout at your kids without turning around</a></h3>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 10th Nov 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 15</a></li>
            </ul>
            <div class="entry-content">
                <p>Neque nesciunt molestias soluta esse debitis. Magni impedit quae consectetur consequuntur.</p>
            </div>
        </div>
    </div>

    <div class="col_one_fourth">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/14.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h3><a href="blog-single.html">UK government weighs Tesla's Model S for its ??5 million electric vehicle fleet</a></h3>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 13th Nov 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 25</a></li>
            </ul>
            <div class="entry-content">
                <p>Eaque iusto quod assumenda beatae, nesciunt aliquid. Vel, eos eligendi?</p>
            </div>
        </div>
    </div>

    <div class="col_one_fourth">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/15.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h3><a href="blog-single.html">Combat malaria positive social change civil society. Fundraise inspire.</a></h3>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 19th Dec 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 19</a></li>
            </ul>
            <div class="entry-content">
                <p>Combat malaria positive social change civil society fundraise inspire.</p>
            </div>
        </div>
    </div>

    <div class="col_one_fourth col_last">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/13.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h3><a href="blog-single.html">MIT's new robot glove can give you extra fingers</a></h3>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 22nd Jan 2013</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 14</a></li>
            </ul>
            <div class="entry-content">
                <p>Magni impedit quae consectetur consequuntur adipisci veritatis modi a, officia cum.</p>
            </div>
        </div>
    </div>

    <div class="clear"></div>

    <div class="col_one_fourth nobottommargin">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/3.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h3><a href="blog-single.html">Beyonce Dropped A '50 Shades Of Grey', Teaser On Instagram Last Night</a></h3>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 19th Apr 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 55</a></li>
            </ul>
            <div class="entry-content">
                <p>Neque nesciunt molestias soluta esse debitis. Magni impedit quae consectetur consequuntur.</p>
            </div>
        </div>
    </div>

    <div class="col_one_fourth nobottommargin">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/4.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h3><a href="blog-single.html">A Baseball Team Blew Up A Bunch Of Justin Bieber And Miley Cyrus Merch</a></h3>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 26th Apr 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 41</a></li>
            </ul>
            <div class="entry-content">
                <p>Eaque iusto quod assumenda beatae, nesciunt aliquid. Vel, eos eligendi emo perferendis dolorem voluptatem.</p>
            </div>
        </div>
    </div>

    <div class="col_one_fourth nobottommargin">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/7.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h3><a href="blog-single.html">Cross-agency coordination meaningful work inclusive community maximize.</a></h3>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 31st Mar 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 43</a></li>
            </ul>
            <div class="entry-content">
                <p>Eaque iusto quod assumenda beatae, nesciunt aliquid. Vel, eos eligendi emo perferendis dolorem voluptatem.</p>
            </div>
        </div>
    </div>

    <div class="col_one_fourth nobottommargin col_last">
        <div class="ipost clearfix">
            <div class="entry-image">
                <a href="#"><img class="image_fade" src="images/magazine/thumb/5.jpg" alt="Image"></a>
            </div>
            <div class="entry-title">
                <h3><a href="blog-single.html">Want To Know The New 'Star Wars' Plot? Then This Is The Post For You</a></h3>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 10th Feb 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 21</a></li>
            </ul>
            <div class="entry-content">
                <p>Magni impedit quae consectetur consequuntur adipisci veritatis modi a, officia cum.</p>
            </div>
        </div>
    </div>

</div>