<div class="container topmargin clearfix">

    <div id="section-onepage" class="page-section">
        <div class="heading-block topmargin-lg bottommargin noborder">
            <h2 class="center">One-Page Layouts</h2>
        </div>

        <!-- Portfolio Filter
        ============================================= -->
        <ul class="portfolio-filter center divcenter style-4 clearfix" data-container="#onepage-demos">

            <li class="activeFilter"><a href="#" data-filter="*">All Demos</a></li>
            <li><a href="#" data-filter=".demofilter-op-image">Image</a></li>
            <li><a href="#" data-filter=".demofilter-op-video">Video</a></li>
            <li><a href="#" data-filter=".demofilter-op-slider">Slider</a></li>
            <li><a href="#" data-filter=".demofilter-op-text-rotator">Text Rotator</a></li>
            <li><a href="#" data-filter=".demofilter-op-carousel">Carousel</a></li>
            <li><a href="#" data-filter=".demofilter-op-forms">Forms</a></li>
            <li><a href="#" data-filter=".demofilter-op-parallax">Parallax</a></li>
            <li><a href="#" data-filter=".demofilter-op-sideheader">Side Header</a></li>
            <li><a href="#" data-filter=".demofilter-op-misc">Others</a></li>

        </ul><!-- #portfolio-filter end -->

        <div class="clear"></div>

        <div id="onepage-demos" class="row topmargin-sm grid-container bottommargin clearfix" data-layout="fitRows">

            <div class="col-lg-3 col-md-6 col-12 demofilter-op-image demofilter-op-text-rotator bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/index.html" target="_blank">
                            <img src="images/intro/onepage/homepage1.jpg" alt="Default">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/index.html" target="_blank">Default</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-image demofilter-op-text-rotator bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-apartment.html" target="_blank">
                            <img src="images/intro/onepage/apartment.jpg" alt="Default">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-apartment.html" target="_blank">Apartment <span class="badge bgcolor">New</span></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-image demofilter-op-text-rotator bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-outdoors.html" target="_blank">
                            <img src="images/intro/onepage/outdoors.jpg" alt="Default">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-outdoors.html" target="_blank">Outdoors <span class="badge bgcolor">New</span></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-image demofilter-op-text-rotator bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-frame.html" target="_blank">
                            <img src="images/intro/onepage/frame.jpg" alt="Default">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-frame.html" target="_blank">Frame <span class="badge bgcolor">New</span></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-image demofilter-op-text-rotator bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-subscription-section.html" target="_blank">
                            <img src="images/intro/onepage/subscription.jpg" alt="Default">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-subscription-section.html" target="_blank">Subscription Section <span class="badge bgcolor">New</span></a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-image demofilter-op-misc demofilter-op-text-rotator bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-holiday.html" target="_blank">
                            <img src="images/intro/onepage/homepage42.jpg" alt="Holiday">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-holiday.html" target="_blank">Holiday</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-personal.html" target="_blank">
                            <img src="images/intro/onepage/homepage44.jpg" alt="Personal">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-personal.html" target="_blank">Personal</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-carousel bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-carousel.html" target="_blank">
                            <img src="images/intro/onepage/homepage43.jpg" alt="Services">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-carousel.html" target="_blank">Services</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-pricing.html" target="_blank">
                            <img src="images/intro/onepage/homepage45.jpg" alt="Pricing">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-pricing.html" target="_blank">Pricing</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-forms bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-subscription.html" target="_blank">
                            <img src="images/intro/onepage/homepage31.jpg" alt="Simple Subscription">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-subscription.html" target="_blank">Subscription Page</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-forms bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-register.html" target="_blank">
                            <img src="images/intro/onepage/homepage32.jpg" alt="Register Form">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-register.html" target="_blank">Register Form</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-forms bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-register-2.html" target="_blank">
                            <img src="images/intro/onepage/homepage33.jpg" alt="Register Form 2">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-register-2.html" target="_blank">Register Form 2</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-parallax bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-device.html" target="_blank">
                            <img src="images/intro/onepage/homepage34.jpg" alt="Landing Page">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-device.html" target="_blank">Landing Page</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-browser.html" target="_blank">
                            <img src="images/intro/onepage/homepage35.jpg" alt="Browser Slide">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-browser.html" target="_blank">Browser Slide</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-forms bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-register-testimonials.html" target="_blank">
                            <img src="images/intro/onepage/homepage36.jpg" alt="Testimonials Register Form">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-register-testimonials.html" target="_blank">Testimonials Form</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-event.html" target="_blank">
                            <img src="images/intro/onepage/homepage37.jpg" alt="Event Slider">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-event.html" target="_blank">Event Slide</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-forms demofilter-op-video bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-video-event-form.html" target="_blank">
                            <img src="images/intro/onepage/homepage38.jpg" alt="Video Event">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-video-event-form.html" target="_blank">Video Event</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-chart.html" target="_blank">
                            <img src="images/intro/onepage/homepage39.jpg" alt="Chart">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-chart.html" target="_blank">Chart Slide</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-forms demofilter-op-slider bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-section-2.html" target="_blank">
                            <img src="images/intro/onepage/homepage40.jpg" alt="Slider Section">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-section-2.html" target="_blank">Slider Section</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-forms demofilter-op-text-rotator bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-section.html" target="_blank">
                            <img src="images/intro/onepage/homepage41.jpg" alt="Text Rotator Section">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/index-section.html" target="_blank">Text Rotator Section</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-text-rotator demofilter-op-video bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/index-dark.html" target="_blank">
                            <img src="images/intro/onepage/homepage2.jpg" alt="Dark Scheme">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/index-dark.html" target="_blank">Dark Scheme</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-slider demofilter-op-video bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-big-text.html" target="_blank">
                            <img src="images/intro/onepage/homepage3.jpg" alt="Big Text Slider">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-big-text.html" target="_blank">Big Text Slider</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-slider bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-canvas-slider.html" target="_blank">
                            <img src="images/intro/onepage/homepage4.jpg" alt="Canvas Slider">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-canvas-slider.html" target="_blank">Canvas Slider</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-slider bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-canvas-fade-slider.html" target="_blank">
                            <img src="images/intro/onepage/homepage5.jpg" alt="Canvas Fade Slider">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-canvas-fade-slider.html" target="_blank">Canvas Fade Slider</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-video bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-video-event.html" target="_blank">
                            <img src="images/intro/onepage/homepage28.jpg" alt="HTML5 Video Play Event">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-video-event.html" target="_blank">HTML5 Video Play Event</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-counter.html" target="_blank">
                            <img src="images/intro/onepage/homepage7.jpg" alt="Hero Counter">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-counter.html" target="_blank">Hero Counter</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-counter-2.html" target="_blank">
                            <img src="images/intro/onepage/homepage6.jpg" alt="Hero Counter 2">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-counter-2.html" target="_blank">Hero Counter 2</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-image bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-dots.html" target="_blank">
                            <img src="images/intro/onepage/homepage8.jpg" alt="Dots Menu">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-dots.html" target="_blank">Dots Menu</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-video bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-html5-video-dark.html" target="_blank">
                            <img src="images/intro/onepage/homepage9.jpg" alt="HTML5 Video Dark">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-html5-video-dark.html" target="_blank">HTML5 Video Dark</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-video bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-html5-video-light.html" target="_blank">
                            <img src="images/intro/onepage/homepage10.jpg" alt="HTML5 Video Light">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-html5-video-light.html" target="_blank">HTML5 Video Light</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-video bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-image-grid-video-lightbox.html" target="_blank">
                            <img src="images/intro/onepage/homepage11.jpg" alt="Split Grid Video Lightbox">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-image-grid-video-lightbox.html" target="_blank">Split Grid Video Lightbox</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-video bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-lightbox-video.html" target="_blank">
                            <img src="images/intro/onepage/homepage12.jpg" alt="Video Lightbox Button">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-lightbox-video.html" target="_blank">Video Lightbox Button</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-video demofilter-op-carousel bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-owl-slider-video.html" target="_blank">
                            <img src="images/intro/onepage/homepage13.jpg" alt="Video Carousel">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-owl-slider-video.html" target="_blank">Video Carousel</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-carousel bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-owl-slider.html" target="_blank">
                            <img src="images/intro/onepage/homepage14.jpg" alt="Image Carousel">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-owl-slider.html" target="_blank">Image Carousel</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-parallax bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-parallax-dark-image-full.html" target="_blank">
                            <img src="images/intro/onepage/homepage15.jpg" alt="Fullscreen Parallax Dark">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-parallax-dark-image-full.html" target="_blank">Fullscreen Parallax Dark</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-parallax bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-parallax-dark-image-fullwidth.html" target="_blank">
                            <img src="images/intro/onepage/homepage16.jpg" alt="Fullwidth Parallax Dark">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-parallax-dark-image-fullwidth.html" target="_blank">Fullwidth Parallax Dark</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-parallax bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-parallax-light-image-full.html" target="_blank">
                            <img src="images/intro/onepage/homepage17.jpg" alt="Fullscreen Parallax Light">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-parallax-dark-image-full.html" target="_blank">Fullscreen Parallax Light</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-parallax bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-parallax-light-image-fullwidth.html" target="_blank">
                            <img src="images/intro/onepage/homepage18.jpg" alt="Fullwidth Parallax Light">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-parallax-light-image-fullwidth.html" target="_blank">Fullwidth Parallax Light</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-portfolio.html" target="_blank">
                            <img src="images/intro/onepage/homepage20.jpg" alt="Portfolio Agency">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-portfolio.html" target="_blank">Portfolio Agency</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-sideheader bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-portfolio-side-header.html" target="_blank">
                            <img src="images/intro/onepage/homepage19.jpg" alt="Portfolio Side Header">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-portfolio-side-header.html" target="_blank">Portfolio Side Header</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-slider bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-revolution-fullscreen.html" target="_blank">
                            <img src="images/intro/onepage/homepage21.jpg" alt="Fullscreen Revolution">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-revolution-fullscreen.html" target="_blank">Fullscreen Revolution</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-slider bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-revolution-fullwidth.html" target="_blank">
                            <img src="images/intro/onepage/homepage22.jpg" alt="Fullwidth Revolution">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-revolution-fullwidth.html" target="_blank">Fullwidth Revolution</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-sideheader demofilter-op-video bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-side-header.html" target="_blank">
                            <img src="images/intro/onepage/homepage23.jpg" alt="Side Header Menu">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-side-header.html" target="_blank">Side Header Menu</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-text-rotator bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-tr-blank-dark.html" target="_blank">
                            <img src="images/intro/onepage/homepage24.jpg" alt="Text Rotator Dark">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-tr-blank-dark.html" target="_blank">Text Rotator Dark</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-text-rotator bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-tr-blank.html" target="_blank">
                            <img src="images/intro/onepage/homepage25.jpg" alt="Text Rotator Light">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-tr-blank.html" target="_blank">Text Rotator Light</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-text-rotator demofilter-op-image bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-tr-image-dark.html" target="_blank">
                            <img src="images/intro/onepage/homepage26.jpg" alt="Text Rotator Image Dark">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-tr-image-dark.html" target="_blank">Text Rotator Image Dark</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-text-rotator demofilter-op-image bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-tr-image-light.html" target="_blank">
                            <img src="images/intro/onepage/homepage27.jpg" alt="Text Rotator Image Light">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-tr-image-light.html" target="_blank">Text Rotator Image Light</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-video bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-video-grid-2.html" target="_blank">
                            <img src="images/intro/onepage/homepage29.jpg" alt="Video Grid Hover Play">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-video-grid-2.html" target="_blank">Video Grid Hover Play</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-op-video bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="one-page/op-video-grid.html" target="_blank">
                            <img src="images/intro/onepage/homepage30.jpg" alt="Video Grid 2 Hover Play">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="one-page/op-video-grid.html" target="_blank">Video Grid 2 Hover Play</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
