<div class="container clearfix">

    <div id="section-multipage" class="page-section">
        <div class="heading-block topmargin bottommargin noborder">
            <h2 class="center">Multi-Page Layouts</h2>
        </div>

        <!-- Portfolio Filter
        ============================================= -->
        <ul class="portfolio-filter center divcenter style-4 clearfix" data-container="#multipage-demos">

            <li class="activeFilter"><a href="#" data-filter="*">All Demos</a></li>
            <li><a href="#" data-filter=".demofilter-corporate">Corporate</a></li>
            <li><a href="#" data-filter=".demofilter-portfolio">Portfolio</a></li>
            <li><a href="#" data-filter=".demofilter-blog">Blog</a></li>
            <li><a href="#" data-filter=".demofilter-shop">Shop</a></li>
            <li><a href="#" data-filter=".demofilter-magazine">Magazine</a></li>
            <li><a href="#" data-filter=".demofilter-landing">Landing</a></li>
            <li><a href="#" data-filter=".demofilter-onepage">One-Page</a></li>
            <li><a href="#" data-filter=".demofilter-misc">Others</a></li>

        </ul><!-- #portfolio-filter end -->

        <div class="clear"></div>

        <div id="multipage-demos" class="row topmargin-sm grid-container bottommargin clearfix" data-layout="fitRows">

            <div class="col-lg-3 col-md-6 col-12 demofilter-corporate bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-corporate.html" target="_blank">
                            <img src="images/intro/multipage/homepage2.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-corporate.html" target="_blank">Corporate 1</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-corporate bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-corporate-2.html" target="_blank">
                            <img src="images/intro/multipage/homepage3.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-corporate-2.html" target="_blank">Corporate 2</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-corporate bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-corporate-3.html" target="_blank">
                            <img src="images/intro/multipage/homepage30.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-corporate-3.html" target="_blank">Corporate 3</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-corporate bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-corporate-4.html" target="_blank">
                            <img src="images/intro/multipage/homepage4.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-corporate-4.html" target="_blank">Corporate 4</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-portfolio bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-portfolio-2.html" target="_blank">
                            <img src="images/intro/multipage/homepage5.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-portfolio-2.html" target="_blank">Portfolio 1</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-portfolio bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-portfolio-3.html" target="_blank">
                            <img src="images/intro/multipage/homepage6.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-portfolio-3.html" target="_blank">Portfolio 2</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-portfolio bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-portfolio-4.html" target="_blank">
                            <img src="images/intro/multipage/homepage7.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-portfolio-4.html" target="_blank">Portfolio 3</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-blog bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-blog.html" target="_blank">
                            <img src="images/intro/multipage/homepage8.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-blog.html" target="_blank">Home Blog</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-shop bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-shop.html" target="_blank">
                            <img src="images/intro/multipage/homepage9.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-shop.html" target="_blank">eCommerce 1</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-shop bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-shop-2.html" target="_blank">
                            <img src="images/intro/multipage/homepage10.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-shop-2.html" target="_blank">eCommerce 2</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-magazine bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-magazine-3.html" target="_blank">
                            <img src="images/intro/multipage/homepage11.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-magazine-3.html" target="_blank">Magazine 1</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-magazine bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-magazine.html" target="_blank">
                            <img src="images/intro/multipage/homepage12.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-magazine.html" target="_blank">Magazine 2</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-magazine bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-magazine-2.html" target="_blank">
                            <img src="images/intro/multipage/homepage13.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-magazine-2.html" target="_blank">Magazine 3</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-onepage bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-onepage.html" target="_blank">
                            <img src="images/intro/multipage/homepage18.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-onepage.html" target="_blank">OnePage Default</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-onepage bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-onepage-2.html" target="_blank">
                            <img src="images/intro/multipage/homepage19.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-onepage-2.html" target="_blank">OnePage SubMenu</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-onepage bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-onepage-3.html" target="_blank">
                            <img src="images/intro/multipage/homepage20.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-onepage-3.html" target="_blank">OnePage Dots Menu</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-wedding.html" target="_blank">
                            <img src="images/intro/multipage/homepage21.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-wedding.html" target="_blank">Wedding</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-restaurant.html" target="_blank">
                            <img src="images/intro/multipage/homepage22.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-restaurant.html" target="_blank">Restaurant</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-events.html" target="_blank">
                            <img src="images/intro/multipage/homepage23.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-events.html" target="_blank">Events</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-parallax.html" target="_blank">
                            <img src="images/intro/multipage/homepage24.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-parallax.html" target="_blank">Parallax</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="index-app-showcase.html" target="_blank">
                            <img src="images/intro/multipage/homepage25.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="index-app-showcase.html" target="_blank">App Showcase</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-landing bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="landing.html" target="_blank">
                            <img src="images/intro/multipage/homepage14.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="landing.html" target="_blank">Landing 1</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-landing bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="landing-2.html" target="_blank">
                            <img src="images/intro/multipage/homepage15.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="landing-2.html" target="_blank">Landing 2</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-landing bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="landing-4.html" target="_blank">
                            <img src="images/intro/multipage/homepage16.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="landing-4.html" target="_blank">Landing 3</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-landing bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="landing-5.html" target="_blank">
                            <img src="images/intro/multipage/homepage17.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="landing-5.html" target="_blank">Landing 4</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="header-floating.html" target="_blank">
                            <img src="images/intro/multipage/homepage26.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="header-floating.html" target="_blank">Floating Header</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="coming-soon-2.html" target="_blank">
                            <img src="images/intro/multipage/homepage27.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="coming-soon-2.html" target="_blank">Coming Soon 1</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 demofilter-misc bottommargin-lg">
                <div class="iportfolio">
                    <div class="portfolio-image">
                        <a href="coming-soon.html" target="_blank">
                            <img src="images/intro/multipage/homepage28.jpg" alt="Live Preview">
                        </a>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                        <h3><a href="coming-soon.html" target="_blank">Coming Soon 2</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
