<div class="row common-height noleftmargin norightmargin intro-support-block topmargin-lg clearfix">
    <div class="col-md-4 nopadding center">
        <div class="clearfix">
            <a href="http://support.semicolonweb.com/forums/forum/canvas-html/" class="col-padding" target="_blank">
                <i class="icon-et-happy i-plain i-large nomargin inline-block"></i>
                <span class="t500">Dedicated Support</span>
            </a>
        </div>
    </div>
    <div class="col-md-4 nopadding center">
        <div class="clearfix">
            <a href="http://support.semicolonweb.com/canvas-html-documentation/" class="col-padding" target="_blank">
                <i class="icon-et-book-open i-plain i-large nomargin inline-block"></i>
                <span class="t500">Extensive Documentation</span>
            </a>
        </div>
    </div>
    <div class="col-md-4 nopadding center">
        <div class="clearfix">
            <a href="http://themes.semicolonweb.com/html/canvas/walkthrough-videos.html" class="col-padding" target="_blank">
                <i class="icon-et-video i-plain i-large nomargin inline-block"></i>
                <span class="t500">Walkthrough Videos</span>
            </a>
        </div>
    </div>
</div>
