<div id="section-hero" class="section parallax page-section nomargin" style="padding: 150px 0; background-color: #F9F9F9; background-image: url('images/rev-intro.jpg'); background-size: cover;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
    <div class="container clearfix">
        <div class="row clearfix">
            <div class="col-lg-5 offset-lg-7 col-md-10">
                <div class="emphasis-title">
                    <span class="before-heading" style="font-size: 24px;"><em>Get Started with</em></span>
                    <h2 class="capitalize t600" style="font-size: 54px;">120+ Revolution Slider Hero Templates.</h2>
                </div>
                <a href="rs-demos.html" target="_blank" class="button button-circle button-border button-large button-black button-fill nomargin tright"><span>Browse Now <i class="icon-line-arrow-right"></i></span></a>
            </div>
        </div>
    </div>
    <div class="video-wrap d-xl-none d-lg-none">
        <div class="video-overlay" style="background: rgba(255,255,255,0.9);"></div>
    </div>
</div>
