<div class="container clearfix">

    <div class="col_one_third nobottommargin">
        <div class="feature-box fbox-center fbox-effect nobottomborder">
            <div class="fbox-icon">
                <a href="#"><i class="icon-th i-alt"></i></a>
            </div>
            <h3>100+ Portfolio Templates<span class="subtitle">Item Grids in Different Styles</span></h3>
        </div>
    </div>

    <div class="col_one_third nobottommargin">
        <div class="feature-box fbox-center fbox-effect nobottomborder">
            <div class="fbox-icon">
                <a href="#"><i class="icon-file-text i-alt"></i></a>
            </div>
            <h3>40+ Single Item Layouts<span class="subtitle">Details shown in Interactive Manner</span></h3>
        </div>
    </div>

    <div class="col_one_third nobottommargin col_last">
        <div class="feature-box fbox-center fbox-effect nobottomborder">
            <div class="fbox-icon">
                <a href="#"><i class="icon-thumbs-up i-alt"></i></a>
            </div>
            <h3>Unlimited Possibilities<span class="subtitle">Endless Customization Options</span></h3>
        </div>
    </div>

    <div class="clear"></div>

</div>
