<div class="section parallax dark nobottommargin nobottomborder" style="background-image: url('images/parallax/7.jpg');" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">

    <div class="container clearfix">

        <div class="heading-block center">
            <h2>Canvas: We know you want it!</h2>
            <span>Built with passion &amp; intuitiveness in mind. Canvas is a masterclass piece of work presented to you.</span>
        </div>

        <div style="position: relative; margin-bottom: -60px;" data-height-xl="415" data-height-lg="342" data-height-md="262" data-height-sm="160" data-height-xs="102">
            <img src="images/services/chrome.png" style="position: absolute; bottom: 0; left: 0;" data-animate="fadeInUp" alt="Chrome">
            <img src="images/services/ipad3.png" style="position: absolute; bottom: 0; left: 0;" data-animate="fadeInUp" data-delay="300" alt="iPad">
        </div>

    </div>

</div>
