<div class="container clearfix">

    <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
            <div class="fbox-icon">
                <a href="#"><i class="i-alt noborder icon-shop"></i></a>
            </div>
            <h3>e-Commerce Solutions<span class="subtitle">Start your Own Shop today</span></h3>
        </div>
    </div>

    <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
            <div class="fbox-icon">
                <a href="#"><i class="i-alt noborder icon-wallet"></i></a>
            </div>
            <h3>Easy Payment Options<span class="subtitle">Credit Cards &amp; PayPal Support</span></h3>
        </div>
    </div>

    <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
            <div class="fbox-icon">
                <a href="#"><i class="i-alt noborder icon-megaphone"></i></a>
            </div>
            <h3>Instant Notifications<span class="subtitle">Realtime Email &amp; SMS Support</span></h3>
        </div>
    </div>

    <div class="col_one_fourth nobottommargin col_last">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
            <div class="fbox-icon">
                <a href="#"><i class="i-alt noborder icon-fire"></i></a>
            </div>
            <h3>Hot Offers Daily<span class="subtitle">Upto 50% Discounts</span></h3>
        </div>
    </div>

</div>