<div class="section nobottommargin">

    <div class="container clearfix">

        <!-- Portfolio Filter
        ============================================= -->
        <ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">

            <li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
            <li><a href="#" data-filter=".pf-icons">Icons</a></li>
            <li><a href="#" data-filter=".pf-illustrations">Illustrations</a></li>
            <li><a href="#" data-filter=".pf-uielements">UI Elements</a></li>
            <li><a href="#" data-filter=".pf-media">Media</a></li>
            <li><a href="#" data-filter=".pf-graphics">Graphics</a></li>

        </ul><!-- #portfolio-filter end -->

        <div id="portfolio-shuffle" class="portfolio-shuffle" data-container="#portfolio">
            <i class="icon-random"></i>
        </div>

        <div class="clear"></div>

        <!-- Portfolio Items
        ============================================= -->
        {{>portfolio-4x3-nomargin}}
        <!-- #portfolio end -->


    </div>

</div>

