<section id="slider" class="slider-element swiper_wrapper customjs with-header canvas-slider canvas-slider-grid clearfix">

    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/12.jpg') center center; background-size:cover;">
                <a href="#">
                    <div class="overlay">
                        <div class="text-overlay">
                            <div class="text-overlay-title">
                                <h3>Fixed Aperture</h3>
                            </div>
                            <div class="text-overlay-meta">
                                <span>Illustrations, Graphics</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <div class="swiper-container swiper-nested-1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/2.jpg') center center; background-size:cover;">
                            <a href="#">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Locked Steel Gate</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span>Illustrations</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/3.jpg') center center; background-size:cover;">
                            <a href="#">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Mac Sunglasses</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span>Graphics, UI Elements</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/6-1.jpg') center center; background-size:cover;">
                            <a href="#">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Grotesque</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span>Illustrations, Graphics</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/6-2.jpg') center center; background-size:cover;">
                            <a href="#">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Cup of Coffee</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span>Media, Video</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/9-2.jpg') center center; background-size:cover;">
                            <a href="#">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Bridge Side</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span>Illustrations, Icons</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="sw1-arrow-top" class="slider-arrow-top-sm"><i class="icon-angle-up"></i></div>
                    <div id="sw1-arrow-bottom" class="slider-arrow-bottom-sm"><i class="icon-angle-down"></i></div>
                </div>
            </div>
            <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/14.jpg') center center; background-size:cover;">
                <a href="#">
                    <div class="overlay">
                        <div class="text-overlay">
                            <div class="text-overlay-title">
                                <h3>Stroll Bridge</h3>
                            </div>
                            <div class="text-overlay-meta">
                                <span>Motion, Graphics</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <div class="swiper-container swiper-nested-2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/10.jpg') center center; background-size:cover;">
                            <a href="#">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Study Table</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span>Graphics, Media</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/12-1.jpg') center center; background-size:cover;">
                            <a href="#">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Garden Sidebench</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span>Video</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/13.jpg') center center; background-size:cover;">
                            <a href="#">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Morning Dew</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span>Icons, Graphics</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="sw2-arrow-top" class="slider-arrow-top-sm"><i class="icon-angle-up"></i></div>
                    <div id="sw2-arrow-bottom" class="slider-arrow-bottom-sm"><i class="icon-angle-down"></i></div>
                </div>
            </div>
            <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/9.jpg') center center; background-size:cover;">
                <a href="#">
                    <div class="overlay">
                        <div class="text-overlay">
                            <div class="text-overlay-title">
                                <h3>Riverside Birds</h3>
                            </div>
                            <div class="text-overlay-meta">
                                <span>Icons, Graphics</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <div class="swiper-container swiper-nested-3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/1.jpg') center center; background-size:cover;">
                            <a href="#">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Tabletop Contents</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span>Media, Video</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/7.jpg') center center; background-size:cover;">
                            <a href="#">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Backpack Contents</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span>UI Elements</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/6-3.jpg') center center; background-size:cover;">
                            <a href="#">
                                <div class="overlay">
                                    <div class="text-overlay">
                                        <div class="text-overlay-title">
                                            <h3>Coffee Cake</h3>
                                        </div>
                                        <div class="text-overlay-meta">
                                            <span>Graphics</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="sw3-arrow-top" class="slider-arrow-top-sm"><i class="icon-angle-up"></i></div>
                    <div id="sw3-arrow-bottom" class="slider-arrow-bottom-sm"><i class="icon-angle-down"></i></div>
                </div>
            </div>
            <div class="swiper-slide" style="background: url('images/portfolio/single/full-thumbs/6.jpg') center center; background-size:cover;">
                <a href="#">
                    <div class="overlay">
                        <div class="text-overlay">
                            <div class="text-overlay-title">
                                <h3>Shake It!</h3>
                            </div>
                            <div class="text-overlay-meta">
                                <span>Icons, Graphics</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
        <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
    </div>


</section>
