<!-- Page Sub Menu
============================================= -->
<div id="page-menu">
    <div id="page-menu-wrap">
        <div class="container-fullwidth clearfix">

            <div class="menu-title">Explore <span>CANVAS</span></div>

            <nav class="one-page-menu">
                <ul>
                    <li><a href="#" data-href="#section-niche"><div>Niche Demos</div></a></li>
                    <li><a href="#" data-href="#section-multipage"><div>Multi-Page</div></a></li>
                    <li><a href="#" data-href="#section-onepage"><div>One-Page</div></a></li>
                    <li><a href="#" data-href="#section-hero" data-offset="103"><div>Hero Templates</div></a></li>
                    <li><a href="#" data-href="#section-testimonials"><div>Reviews</div></a></li>
                    <li><a href="#" data-href="#section-purchase" data-offset="103"><div>Purchase</div></a></li>
                </ul>
            </nav>

            <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

        </div>
    </div>
</div>
<!-- #page-menu end -->