<div class="widget clearfix">
    <div class="col_one_third nobottommargin">
        <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
        </a>
        <small style="display: block; margin-top: 3px;"><strong><div class="counter counter-inherit"><span data-from="1000" data-to="58742" data-refresh-interval="100" data-speed="3000" data-comma="true"></span></div></strong>Likes</small>
    </div>

    <div class="col_one_third nobottommargin">
        <a href="#" class="social-icon si-dark si-colored si-twitter nobottommargin" style="margin-right: 10px;">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
        </a>
        <small style="display: block; margin-top: 3px;"><strong><div class="counter counter-inherit"><span data-from="500" data-to="9654" data-refresh-interval="50" data-speed="2500" data-comma="true"></span></div></strong>Followers</small>
    </div>

    <div class="col_one_third nobottommargin col_last">
        <a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
            <i class="icon-rss"></i>
            <i class="icon-rss"></i>
        </a>
        <small style="display: block; margin-top: 3px;"><strong><div class="counter counter-inherit"><span data-from="200" data-to="15475" data-refresh-interval="150" data-speed="3500" data-comma="true"></span></div></strong>Readers</small>
    </div>
</div>
