<div class="widget clearfix">

    <h4>Twitter Feed Scroller</h4>
    <div class="fslider customjs testimonial twitter-scroll twitter-feed" data-username="envato" data-count="2" data-animation="slide" data-arrows="false">
        <i class="i-plain color icon-twitter nobottommargin" style="margin-right: 15px;"></i>
        <div class="flexslider" style="width: auto;">
            <div class="slider-wrap">
                <div class="slide"></div>
            </div>
        </div>
    </div>

</div>